hr {
  border: 0;
}
body {
  color: #555555;
  font-size: 13px;
}
body,
h1,
h2 {
  font-family: 'Cabin', sans-serif;
}
a,
a:visited {
  color: red;
  text-decoration: none;
}
h1 {
  font-size: 58px;
  line-height: 65px;
}
h3 {
  font-size: 24px;
}
#top {
  background: #000;
  font-size: 10px;
  color: #ccc;
  padding: 10px;
}
#header {
  margin-top: 45px;
}
#header-big {
  background: #ccc;
}
#header-big hr {
  height: 10px;
  opacity: 0.5;
}
#header-big .top {
  background-color: #000000;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#cccccc));
  background-image: -webkit-linear-gradient(top, #000000, #cccccc);
  background-image: -moz-linear-gradient(top, #000000, #cccccc);
  background-image: -o-linear-gradient(top, #000000, #cccccc);
}
#header-big .bottom {
  background-color: #cccccc;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cccccc), to(#000000));
  background-image: -webkit-linear-gradient(top, #cccccc, #000000);
  background-image: -moz-linear-gradient(top, #cccccc, #000000);
  background-image: -o-linear-gradient(top, #cccccc, #000000);
  margin: 93px 0 0 0;
}
#header-big h1 {
  margin: 0 0 33px 0;
}
#header-big .column {
  float: left;
  width: 50%;
  font-size: 26px;
  font-weight: bold;
  line-height: 37px;
}
#header-big strong {
  color: #000;
}
#header-big .button {
  margin: 20px 0 0 0;
}
#header-big .eightcol {
  margin: 68px 0 0 0;
}
.separator {
  background: #ccc;
  height: 10px;
  margin: 40px 0 34px 0;
}
.date {
  font-size: 16px;
  display: inline-block;
  margin: 2px 0 0 0;
  color: #000;
}
h2 {
  font-size: 24px;
  color: #000;
  margin: 2px 0 10px   0;
}
.row.nav {
  padding: 0 0 15px 0;
}
#nav {
  font-family: 'Droid Serif', serif;
  text-align: right;
}
#nav a {
  color: #000;
  display: inline-block;
  margin: 0 0 0 20px;
}
.news ul {
  list-style-type: none;
}
.news p {
  margin: 0 0 30px 0;
}
.tutorial h3 {
  margin-bottom: 24px;
}
.news p,
.tutorial p {
  margin: 0 0 30px 0;
}
.button {
  display: inline-block;
  font-size: 22px;
  background: #ddd;
  padding: 6px 33px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
#footer {
  margin: 100px 0 15px 0;
  text-align: right;
  font-size: 10px;
}
#footer hr {
  margin: 0 0 13px;
}
a.headerlink {
  visibility: hidden;
}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */
@media handheld, only screen and (max-width: 767px) {
  
}
/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /*  .logo {
          background: url(logo2x.jpg) no-repeat;
          background-size: 212px 303px;
      }*/
}
